---
import { siteConfig } from "@/site.config";
import { pageMetadata } from "@/stores/pageMetadata";

import "@/styles/global.css";

import "@/styles/modifiedQ.css";
import "@fontsource/pt-sans/400.css";
import "@fontsource/pt-sans/700.css";
import "@fontsource/b612-mono/400.css";
import "@fontsource/b612-mono/700.css";

import "@/styles/markdownAlert.css";
import "katex/dist/katex.min.css";

const { created, updated, description, ogImage, title, types } = pageMetadata.get();

const titleSeparator = "•";
const siteTitle = `${title} ${titleSeparator} ${siteConfig.title}`;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const socialImageURL = new URL(ogImage ? ogImage : "/social-card.png", Astro.url).href;
const isTagPage = /\/blog\/tags/.test(Astro.url.pathname);
const createdTime = created?.toISOString();
const updatedTime = updated?.toISOString();

const blogJsonLd = createdTime && {
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  mainEntityOfPage: {
    "@type": "WebPage",
    "@id": canonicalURL,
  },
  headline: title,
  description: description,
  image: socialImageURL,
  author: {
    "@type": "Person",
    name: siteConfig.author,
    url: Astro.site,
  },
  datePublished: createdTime,
  dateModified: updatedTime,
};
---

<meta charset="utf-8" />
<meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport" />
<meta content="IE=edge" http-equiv="X-UA-Compatible" />
<title>{siteTitle}</title>

{/* Icons / Favicon */}
<link href="/favicon.ico" rel="icon" sizes="any" />
<link href="/icon.svg" rel="icon" type="image/svg+xml" />
<link href="/apple-touch-icon.png" rel="apple-touch-icon" />
<link href="/manifest.webmanifest" rel="manifest" />
<link href={canonicalURL} rel="canonical" />

{/* Primary Meta Tags */}
<meta content={siteTitle} name="title" />
<meta content={description} name="description" />
<meta content={siteConfig.author} name="author" />

{/* Theme Colour */}
<meta content="" name="theme-color" />

{/* Open Graph / Facebook */}
<meta content={createdTime ? "article" : "website"} property="og:type" />
<meta content={title} property="og:title" />
<meta content={description} property="og:description" />
<meta content={canonicalURL} property="og:url" />
<meta content={siteConfig.title} property="og:site_name" />
<meta content={siteConfig.ogLocale} property="og:locale" />
<meta content={socialImageURL} property="og:image" />
<meta content="1200" property="og:image:width" />
<meta content="630" property="og:image:height" />
{
  createdTime && (
    <>
      <meta content={siteConfig.author} property="article:author" />
      <meta content={createdTime} property="article:published_time" />
    </>
  )
}
{updatedTime && <meta content={updatedTime} property="article:modified_time" />}

{/* Twitter */}
<meta content="summary_large_image" property="twitter:card" />
<meta content={canonicalURL} property="twitter:url" />
<meta content={title} property="twitter:title" />
<meta content={description} property="twitter:description" />
<meta content={socialImageURL} property="twitter:image" />

{/* JSON-LD */}
{createdTime && <script type="application/ld+json" set:html={JSON.stringify(blogJsonLd)} />}

{/* Sitemap */}
<link href="/sitemap-index.xml" rel="sitemap" />

{/* RSS auto-discovery */}
<link href="/rss.xml" rel="alternate" title={siteConfig.title} type="application/rss+xml" />

{/* No Index for tag pages */}
{isTagPage && <meta content="noindex" name="robots" />}

{/* Adsense */}
{
  !isTagPage && (
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2628442340171104"
      crossorigin="anonymous"
    />
  )
}

<meta content={Astro.generator} name="generator" />
