---
import Pagination from "@/components/Paginator.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import PageLayout from "@/layouts/Base.astro";

const { page, tag } = Astro.props;

const paginationProps = {
  ...(page.url.prev && {
    prevUrl: {
      text: `← 上一頁`,
      url: page.currentPage === 2 ? `/blog/tags/${tag}/` : page.url.prev + "/",
    },
  }),
  ...(page.url.next && {
    nextUrl: {
      text: `下一頁 →`,
      url: page.url.next + "/",
    },
  }),
};
---

<PageLayout>
  <div class="mb-6 flex items-center">
    <h1 class="sr-only">Posts with the tag {tag}</h1>
    <a class="title text-accent" href="/tags/"><span class="sr-only">All {" "}</span>Tags</a>
    <span aria-hidden="true" class="me-3 ms-2 text-xl">→</span>
    <span aria-hidden="true" class="text-xl">#{tag}</span>
  </div>
  <section aria-labelledby={`tags-${tag}`}>
    <h2 id={`tags-${tag}`} class="sr-only">Post List</h2>
    <ul class="space-y-4 sm:space-y-6">
      {
        page.data.map((p) => (
          <li class="grid gap-2 sm:grid-cols-[auto_1fr]">
            <PostPreview as="h2" post={p} />
          </li>
        ))
      }
    </ul>
    <Pagination {...paginationProps} />
  </section>
</PageLayout>
